.home-banner {
  width: 100%;
  height: 100vh;
}
.home-banner .home_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
.home-banner .home_content {
  position: absolute;
  top: 46%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 80%;
  text-align: center;
}
.home-banner .home_content .home_text_large {
  font-size: 215px;
  font-weight: 900;
  color: #fdaa27;
  opacity: 0.34;
  line-height: 0.75;
}
.home-banner .home_content .home_text_small {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  font-size: 72px;
  font-weight: 300;
  color: #FFFFFF;
  text-shadow: 0px 11px 51px rgba(0, 0, 0, 0.35);
}

/* Homepage global rules */
.hidden {
  display: none;
}

.body-section h2 {
  padding: 0;
  margin: 0;
}

.body-section {
  padding: 70px 0 80px 0;
}

/*********************************
6. Find
*********************************/
.find {
  width: 100%;
  padding-top: 63px;
  padding-bottom: 70px;
  z-index: 0;
  background: transparent;
}

.find_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.find_form_container {
  width: 100%;
  margin-top: 36px;
}

.find_title {
  width: 100%;
  font-size: 30px;
  font-weight: 300;
  color: #FFFFFF;
}

.find_form {
  width: 100%;
  height: 100%;
}

.find_input {
  width: 100%;
  height: 56px;
  border: none;
  outline: none;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 13px;
  font-weight: 400;
  line-height: 52px;
  color: #FFFFFF;
  border: solid 2px rgba(255, 255, 255, 0.5);
  background: transparent;
}

.find_item:first-child {
  width: 31.413%;
}

.find_item:nth-child(2) {
  width: 31.413%;
}

.find_item:nth-child(3) {
  width: 10.122%;
}

.find_item:nth-child(4) {
  width: 10.122%;
}

.find_item div {
  font-size: 14px;
  font-weight: 400;
  color: #FFFFFF;
  margin-bottom: 7px;
}

.dropdown_item_select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  background-image: url(../images/down.png);
  background-position: center right;
  background-repeat: no-repeat;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  color: #939393 !important;
}

.dropdown_item_select::-ms-expand {
  display: none;
}

.find_input:hover {
  border: solid 2px rgba(254, 67, 91, 0.5);
}

.find_input:focus {
  outline-color: rgba(254, 67, 91, 0.5);
  border: solid 2px rgba(254, 67, 91, 0.5);
}

.find_button {
  width: 14.048%;
  height: 56px;
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
  line-height: 52px;
  padding-left: 46px;
  padding-right: 46px;
  background: #fe435b !important;
  -webkit-transform: translateY(14px);
  transform: translateY(14px);
  border: none;
  outline: none;
  cursor: pointer;
}

.find_button:hover {
  opacity: 0.8;
}

.find_input::-webkit-input-placeholder {
  font-size: 14px !important;
  font-weight: 400 !important;
  font-style: italic;
  color: #939393 !important;
}

.find_input:-moz-placeholder {
  font-size: 14px !important;
  font-weight: 400 !important;
  font-style: italic;
  color: #939393 !important;
}

.find_input::-moz-placeholder {
  font-size: 14px !important;
  font-weight: 400 !important;
  font-style: italic;
  color: #939393 !important;
}

.find_input:-ms-input-placeholder {
  font-size: 14px !important;
  font-weight: 400 !important;
  font-style: italic;
  color: #939393 !important;
}

.find_input::input-placeholder {
  font-size: 14px !important;
  font-weight: 400 !important;
  font-style: italic;
  color: #939393 !important;
}

/*********************************
7. Top Destinations
*********************************/
.top {
  width: 100%;
  background: #FFFFFF;
}

.top h2,
.popular h2,
.special h2 {
  margin: 0;
}

.section_title {
  padding-top: 0;
  line-height: 1;
}

.section_title h2 {
  font-weight: 300;
  color: #131a2f;
}

.section_title div {
  font-size: 16px;
  font-weight: 400;
  color: #7d8293;
  text-transform: uppercase;
  margin-top: 19px;
}

.top_content {
  margin-top: 8px;
}

.top_item {
  width: 100%;
}

.top_item a {
  display: block;
}

.top_item_image img {
  max-width: 100%;
}

.top_item_content {
  position: absolute;
  left: 33px;
  bottom: 29px;
}

.top_item_price {
  font-size: 14px;
  font-weight: 400;
  color: #FFFFFF;
}

.top_item_text {
  font-size: 20px;
  font-weight: 400;
  color: #FFFFFF;
  margin-top: 2px;
}

.row-region {
  padding-top: 60px;
}

.row-region h4 {
  font-weight: 400;
}

.top_item a {
  text-decoration: none;
}

.top_item_image {
  background-color: #000;
}

.top_item_image img {
  opacity: 0.75;
  height: 270px;
  width: 100%;
}

/*********************************
10. Popular
*********************************/
.popular {
  width: 100%;
  background: #f4f4f4;
}

.popular_content {
  width: 100%;
  margin-top: 60px;
}

.popular_item {
  width: calc((100% - 90px) / 4);
  margin-bottom: 26px;
}

.popular_item:nth-last-child(-n+4) {
  margin-bottom: 0px;
}

.popular_item a {
  display: block;
}

.popular_item img {
  max-width: 100%;
}

.popular_item_content {
  position: absolute;
  left: 28px;
  bottom: 27px;
  z-index: 10;
}

.popular_item_price {
  font-size: 14px;
  font-weight: 400;
  color: #FFFFFF;
}

.popular_item_title {
  font-size: 20px;
  font-weight: 400;
  color: #FFFFFF;
}

.popular_item_image {
  background-color: #000;
}

.popular_item_image img {
  opacity: 0.75;
  height: 190px;
  width: 100%;
}

.top_item_title {
  font-size: 20px;
  font-weight: 400;
  color: #FFFFFF;
}

/*********************************
11. Special Offers
*********************************/
.special {
  background: #FFFFFF;
}

.special_content {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.special_item_content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  padding-left: 8px;
  padding-right: 8px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 10;
}

.special_category {
  font-size: 24px;
  font-weight: 300;
  color: #FFFFFF;
}

.special_title a {
  font-size: 36px;
  font-weight: 300;
  color: #FFFFFF;
}

.special_item_background img {
  display: block;
  width: 100%;
  height: 300px;
}

.special .owl-item .special_item_background::after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  content: "";
  z-index: 0;
  -webkit-transition: all 500ms 100ms ease;
  transition: all 500ms 100ms ease;
}

.special .owl-item.center .special_item_background::after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  content: "";
  z-index: 0;
  -webkit-transition: all 500ms 100ms ease;
  transition: all 500ms 100ms ease;
}

.special_slider_nav {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 20px;
  width: 90px;
  height: 90px;
  background: #fe3c52;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  z-index: 10;
}

.special_slider_nav:hover {
  opacity: 0.8;
}

.see-all-provinces a {
  color: #fe435b;
  transition: color 0.3s;
}
.see-all-provinces a:hover {
  color: #bd2130;
}

.home_breadcrumbs {
  margin-top: -6px;
}
.home_breadcrumbs .home_breadcrumb {
  display: inline-block;
  font-size: 18px;
  font-weight: 200;
  color: #FFFFFF;
}
.home_breadcrumbs .home_breadcrumb:not(:last-child)::after {
  content: "/";
  margin-left: 5px;
}
.home_breadcrumbs .home_breadcrumb a {
  font-size: 18px;
  font-weight: 200;
  color: #FFFFFF;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.home_breadcrumbs .home_breadcrumb a:hover {
  color: #fe3c52;
}

/* CSS Document */
/******************************

[Table of Contents]

1. 1600px
2. 1440px
3. 1280px
4. 1199px
5. 1024px
6. 991px
7. 959px
8. 880px
9. 768px
10. 767px
11. 539px
12. 479px
13. 400px

******************************/
/************
1. 1600px
************/
/************
2. 1440px
************/
/************
3. 1380px
************/
/************
3. 1280px
************/
/************
4. 1199px
************/
@media only screen and (max-width: 1199px) {
  .last_item_content {
    padding-left: 80px;
    padding-right: 70px;
  }

  .last_percent {
    font-size: 124px;
  }

  .last_title {
    font-size: 30px;
  }
}
/************
4. 1100px
************/
/************
5. 1024px
************/
/************
6. 991px
************/
@media only screen and (max-width: 991px) {
  .header {
    top: 15px;
  }

  .main_nav,
.search {
    display: none !important;
  }

  .hamburger {
    display: block;
  }

  .logo div:first-of-type {
    font-size: 22px;
  }

  .logo div:nth-child(2) {
    font-size: 9px;
  }

  .home_content {
    width: 100%;
  }

  .home_text_large {
    font-size: 125px;
  }

  .home_text_small {
    font-size: 42px;
  }

  .find_item:first-child {
    width: calc((100% - 8px) / 2);
    margin-bottom: 30px;
  }

  .find_item:nth-child(2) {
    width: calc((100% - 8px) / 2);
    margin-bottom: 30px;
  }

  .find_item:nth-child(3),
.find_item:nth-child(4) {
    width: calc((100% - 154px) / 2);
  }

  .find_button {
    width: 138px;
  }

  .top_col {
    margin-bottom: 30px;
  }

  .top_col:last-child {
    margin-bottom: 0px;
  }

  .top_col:nth-last-child(2) {
    margin-bottom: 0px;
  }

  .last_item_content {
    padding-left: 90px;
    padding-right: 80px;
  }

  .last_item {
    padding-right: 0;
    margin-bottom: 35px;
  }

  .last_col:last-child .last_item {
    padding-left: 0;
    margin-bottom: 0px;
  }

  .last_subtitle {
    text-align: center;
  }

  .last_percent {
    text-align: center;
  }

  .last_title {
    text-align: center;
  }

  .popular_item {
    width: calc((100% - 30px) / 2);
    margin-bottom: 26px;
  }

  .popular_item:nth-last-child(-n+4) {
    margin-bottom: 26px;
  }

  .popular_item:nth-last-child(-n+2) {
    margin-bottom: 0;
  }

  .special_content {
    width: 690px;
    margin-left: auto;
    margin-right: auto;
  }

  .special_slider_nav {
    display: none !important;
  }

  .footer_col {
    margin-bottom: 30px;
  }

  .copyright {
    margin-top: 22px;
  }

  .footer_latest {
    margin-bottom: 10px;
  }
}
/************
7. 959px
************/
/************
8. 880px
************/
/************
9. 768px
************/
/************
10. 767px
************/
@media only screen and (max-width: 767px) {
  .menu_container {
    right: -100vw;
    width: 100vw;
    height: 100vh;
  }

  .home_text_large {
    font-size: 88px;
  }

  .home_text_small {
    font-size: 36px;
  }

  .find_item:first-child {
    width: 100%;
    margin-bottom: 30px;
  }

  .find_item:nth-child(2) {
    width: 100%;
    margin-bottom: 30px;
  }

  .find_item:nth-child(3),
.find_item:nth-child(4) {
    width: 100%;
    margin-bottom: 30px;
  }

  .find_button {
    width: 138px;
  }

  .top_col:nth-last-child(2) {
    margin-bottom: 30px;
  }

  .popular_item {
    width: 100%;
    margin-bottom: 26px;
  }

  .popular_item:nth-last-child(-n+4) {
    margin-bottom: 26px;
  }

  .popular_item:nth-last-child(-n+2) {
    margin-bottom: 26px;
  }

  .popular_item:last-child {
    margin-bottom: 0;
  }

  .special_content {
    width: 510px;
  }

  .newsletter_input {
    width: 100%;
  }

  .newsletter_button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
  }
}
/************
11. 575px
************/
@media only screen and (max-width: 575px) {
  h2 {
    font-size: 24px;
  }

  .header_container {
    height: 70px;
  }

  .header.scrolled .header_container {
    height: 70px;
  }

  .logo {
    padding-left: 33px;
  }

  .logo_image {
    width: 30px;
    top: -22px;
    left: 14px;
  }

  .header.scrolled .logo_image {
    width: 30px;
    top: -22px;
    left: 14px;
  }

  .logo div:first-of-type {
    font-size: 16px;
  }

  .logo div:nth-child(2) {
    font-size: 8px;
  }

  .menu {
    top: 70px;
    padding-right: 32px;
  }

  .menu_item {
    margin-bottom: 0px;
  }

  .menu_item a {
    font-size: 24px;
  }

  .menu_copyright {
    display: none;
  }

  .menu_social_container {
    margin-top: 50px;
  }

  .menu_close_container {
    right: 30px;
    top: 34px;
  }

  .hamburger {
    right: -10px;
    font-size: 18px;
  }

  .menu_search_input {
    height: 40px;
  }

  .menu_search_submit {
    width: 40px;
    height: 40px;
  }

  .menu_search_submit img {
    max-width: 50%;
  }

  .home_text_large {
    font-size: 64px;
  }

  .home_text_small {
    font-size: 24px;
  }

  .find_title {
    font-size: 24px;
  }

  .find_input {
    height: 40px;
    line-height: 36px;
  }

  .find_button {
    height: 40px;
    line-height: 40px;
    width: 120px;
    padding: 0;
  }

  .find_input::-webkit-input-placeholder {
    font-size: 12px !important;
  }

  .find_input:-moz-placeholder {
    font-size: 12px !important;
  }

  .find_input::-moz-placeholder {
    font-size: 12px !important;
  }

  .find_input:-ms-input-placeholder {
    font-size: 12px !important;
  }

  .find_input::input-placeholder {
    font-size: 12px !important;
  }

  .dropdown_item_select {
    font-size: 12px;
  }

  .find_item div {
    font-size: 12px;
  }

  .find_button {
    font-size: 14px;
  }

  .section_title div {
    font-size: 12px;
    margin-top: 12px;
  }

  .last_item_content {
    padding-left: 25px;
    padding-right: 25px;
  }

  .last_percent {
    font-size: 72px;
  }

  .last_subtitle {
    font-size: 12px;
  }

  .last_title {
    font-size: 24px;
  }

  .last_text {
    font-size: 12px;
  }

  .last_logo {
    top: -51px;
    left: -37px;
    width: 106px;
  }

  .button {
    width: 121px;
    height: 40px;
  }

  .button a {
    font-size: 12px;
    line-height: 40px;
  }

  .video_title {
    font-size: 24px;
  }

  .video_subtitle {
    font-size: 12px;
  }

  .special_content {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .newsletter_title {
    font-size: 24px;
  }

  .newsletter_input {
    height: 40px;
    line-height: 36px;
  }

  .newsletter_button {
    height: 40px;
    line-height: 40px;
    width: 140px;
    padding: 0;
  }

  .newsletter_input::-webkit-input-placeholder {
    font-size: 12px !important;
  }

  .newsletter_input:-moz-placeholder {
    font-size: 12px !important;
  }

  .newsletter_input::-moz-placeholder {
    font-size: 12px !important;
  }

  .newsletter_input:-ms-input-placeholder {
    font-size: 12px !important;
  }

  .newsletter_input::input-placeholder {
    font-size: 12px !important;
  }
}
/************
11. 539px
************/
/************
12. 480px
************/
/************
13. 479px
************/
/************
14. 400px
************/
