.tour-banner div {
  outline: none;
}
.tour-banner .tour-banner-slider {
  margin-bottom: 0;
}
.tour-banner .tour-banner-slider .slick-prev,
.tour-banner .tour-banner-slider .slick-next {
  z-index: 2;
  width: auto;
  height: auto;
}
.tour-banner .tour-banner-slider .slick-prev::before,
.tour-banner .tour-banner-slider .slick-next::before {
  color: #fff;
  font-size: 2rem;
  opacity: 0.75;
}
.tour-banner .tour-banner-slider .slick-prev:hover::before, .tour-banner .tour-banner-slider .slick-prev:active::before,
.tour-banner .tour-banner-slider .slick-next:hover::before,
.tour-banner .tour-banner-slider .slick-next:active::before {
  opacity: 1;
}
.tour-banner .tour-banner-slider .slick-prev {
  left: 20px;
}
@media (min-width: 768px) {
  .tour-banner .tour-banner-slider .slick-prev {
    left: 40px;
  }
}
.tour-banner .tour-banner-slider .slick-next {
  right: 20px;
}
@media (min-width: 768px) {
  .tour-banner .tour-banner-slider .slick-next {
    right: 40px;
  }
}
.tour-banner .tour-banner-slider .slick-dots {
  bottom: 25px;
}
.tour-banner .tour-banner-slider .slick-dots button::before {
  color: #fff;
  font-size: 0.5714rem;
}
.tour-banner .tour-banner-slider .tour-banner-slide {
  position: relative;
}
.tour-banner .tour-banner-slider .tour-banner-slide img {
  display: block;
  width: 100%;
  height: auto;
}
@media (min-width: 1200px) {
  .tour-banner .tour-banner-slider .tour-banner-slide img {
    max-height: 36vw;
  }
}
.tour-banner .tour-banner-slider .tour-banner-slide .banner-text {
  text-align: center;
  margin-top: 1.5rem;
}
.tour-banner .tour-banner-slider .tour-banner-slide .banner-text p {
  color: #131a2f;
}

.post-content {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.post-content .tour-title {
  font-size: 2rem;
  margin-bottom: 0.5em;
}
.post-content .tour-price {
  color: #131a2f;
  font-size: 1.2857rem;
  margin-bottom: 0;
}
.post-content .tour-price span {
  color: #fe435b;
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: 6px;
}

.external-tour-links a {
  color: #555;
  transition: color 0.2s;
}
.external-tour-links a:hover {
  color: #fe435b;
}
