/*********************************
Buttons
*********************************/

button {
    &.btn {
        border-radius: 0;
        font-size: 0.875rem;

        &.btn-accent {
            background-color: $lightCardinal;
            border-color: $lightCardinal;
        }
    }
}