/*********************************
Buttons
*********************************/

.btn {
    border-radius: 0;

    &.btn-accent {
        background-color: $lightCardinal;
        border-color: $lightCardinal;
    }
}