form {
    .form-control {
        ~ .invalid-msg {
            display: none;
            color: $red;
            margin-bottom: 0;
            margin-top: 5px;
        }

        &.is-invalid ~ .invalid-msg {
            display: block;
        }
    }
}