/* Error: Undefined mixin.
 *    ,
 * 27 | /             @include media-breakpoint-up(md) {
 * 28 | |                 left: 40px;
 * 29 | \             }
 *    '
 *   scss\tourdetail\_banner.scss 27:13  @import
 *   scss\tourdetail.scss 2:9            root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 27 \2502  \250c              @include media-breakpoint-up(md) {\a 28 \2502  \2502                  left: 40px;\a 29 \2502  \2514              }\a    \2575 \a   scss\\tourdetail\\_banner.scss 27:13  @import\a   scss\\tourdetail.scss 2:9            root stylesheet";
}
