//.header {
//    position: fixed;
//}

.search-banner {
    position: relative;
    width: 100%;

    .home_background {
        width: 100%;

        img {
            display: block;
            width: 100%;
            max-height: 36vw;
        }
    }

    .home_content {
        position: absolute;
        top: 40%;
        left: 8%;

        .home_title {
            font-size: 48px;
            font-weight: 100;
            color: $white;
        }

        .home_title_small {
            color: $white;
        }
    }

    .home_breadcrumbs {
        margin-top: -6px;

        .home_breadcrumb {
            display: inline-block;
            font-size: 18px;
            font-weight: 200;
            color: #FFFFFF;

            &:not(:last-child) {
                &::after {
                    content: '/';
                    margin-left: 5px;
                }
            }

            a {
                font-size: 18px;
                font-weight: 200;
                color: #FFFFFF;
                -webkit-transition: all 200ms ease;
                transition: all 200ms ease;

                &:hover {
                    color: #fe3c52;
                }
            }
        }
    }
}