.admin-quick-search-wrapper form.admin-quick-search input {
  width: 48%;
  height: 35px;
  margin-right: 0.5rem;
  font-family: Poppins, sans-serif;
}
.admin-quick-search-wrapper form.admin-quick-search input::placeholder {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #67757c;
}
.admin-quick-search-wrapper form.admin-quick-search button {
  height: 37px;
}
.admin-quick-search-wrapper form.admin-quick-search button i {
  line-height: unset;
}
