@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

*1. Fonts
*2. Body and some general stuff
3. Home
*4. Header
	4.1 Logo
	4.2 Navigation
	4.3 Search
	4.4 Hamburger
*5. Menu
	5.1 Menu Social
	5.2 Menu copyright
6. Find
7. About
8. Milestones
9. Services
*10. Newsletter
*11. Footer

******************************/

/*********************************
6. Find
*********************************/

.find {
	width: calc(100% - 124px);
	margin-left: auto;
	margin-right: auto;
	margin-top: -148px;
	padding-top: 63px;
	padding-bottom: 70px;
	z-index: 10;
	background: transparent;
}

.find_background_container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.find_background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.find_form_container {
	width: 100%;
	margin-top: 36px;
}

.find_title {
	width: 100%;
	font-size: 30px;
	font-weight: 300;
	color: #FFFFFF;
}

.find_form {
	width: 100%;
	height: 100%;
}

.find_input {
	width: 100%;
	height: 56px;
	border: none;
	outline: none;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 13px;
	font-weight: 400;
	line-height: 52px;
	color: #FFFFFF;
	border: solid 2px rgba(255, 255, 255, 0.5);
	background: transparent;
}

.find_item:first-child {
	width: 31.413%;
}

.find_item:nth-child(2) {
	width: 31.413%;
}

.find_item:nth-child(3) {
	width: 10.122%;
}

.find_item:nth-child(4) {
	width: 10.122%;
}

.find_item div {
	font-size: 14px;
	font-weight: 400;
	color: #FFFFFF;
	margin-bottom: 7px;
}

.dropdown_item_select {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	-webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
	-webkit-user-select: none;
	background-image: url(../images/down.png);
	background-position: center right;
	background-repeat: no-repeat;
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
	font-size: 14px;
	font-weight: 400;
	font-style: italic;
	color: #939393 !important;
}

.dropdown_item_select::-ms-expand {
	display: none;
}

.find_input:hover {
	border: solid 2px rgba(254, 67, 91, 0.5);
}

.find_input:focus {
	outline-color: rgba(254, 67, 91, 0.5);
	border: solid 2px rgba(254, 67, 91, 0.5);
}

.find_button {
	width: 14.048%;
	height: 56px;
	font-size: 16px;
	font-weight: 500;
	color: #FFFFFF;
	line-height: 52px;
	padding-left: 46px;
	padding-right: 46px;
	background: #fe435b !important;
	-webkit-transform: translateY(14px);
	-moz-transform: translateY(14px);
	-ms-transform: translateY(14px);
	-o-transform: translateY(14px);
	transform: translateY(14px);
	border: none;
	outline: none;
	cursor: pointer;
}

.find_button:hover {
	opacity: 0.8;
}

.find_input::-webkit-input-placeholder {
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #939393 !important;
}

.find_input:-moz-placeholder {
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #939393 !important;
}

.find_input::-moz-placeholder {
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #939393 !important;
}

.find_input:-ms-input-placeholder {
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #939393 !important;
}

.find_input::input-placeholder {
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #939393 !important;
}

/*********************************
7. About
*********************************/

.about {
	padding-bottom: 119px;
	background: #FFFFFF;
}

.section_title {
	padding-top: 111px;
	line-height: 1.1;
}

.section_title h2 {
	font-weight: 300;
	color: #131a2f;
}

.section_title div {
	font-size: 16px;
	font-weight: 400;
	color: #7d8293;
	text-transform: uppercase;
	margin-top: 19px;
}

.button {
	display: inline-block;
	width: 161px;
	height: 56px;
	background: #fe3c52;
	text-align: center;
}

.button a {
	display: block;
	font-size: 16px;
	color: #FFFFFF;
	font-weight: 500;
	line-height: 56px;
}

.about_row {
	padding-top: 85px;
}

.about_content {
	margin-top: -7px;
}

.about_content p:last-of-type {
	margin-bottom: 0;
}

.about_button {
	margin-top: 48px;
}

.about_button:hover {
	opacity: 0.8;
}

.about_image img {
	max-width: 100%;
}

/*********************************
8. Milestones
*********************************/

.milestones {
	padding-bottom: 120px;
}

.milestones_background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.milestones_text {
	width: 100%;
	text-align: center;
	margin-top: 64px;
}

.milestones_text p {
	color: #FFFFFF;
}

.milestones_text p:last-of-type {
	margin-bottom: 0px;
}

.milestones .section_title h2 {
	color: #FFFFFF;
}

.milestones_container {
	margin-top: 111px;
}

.milestone {
	text-align: center;
}

.milestone_text {
	font-size: 18px;
	font-weight: 300;
	color: #FFFFFF;
	margin-top: -3px;
}

.milestone_icon {
	width: 100%;
	height: 82px;
	text-align: center;
}

.milestone_icon img {
	max-height: 100%;
}

.milestone_counter {
	font-size: 36px;
	font-weight: 300;
	color: #FFFFFF;
	margin-top: 43px;
}

/*********************************
9. Services
*********************************/

.services {
	width: 100%;
	background: #FFFFFF;
	padding-bottom: 109px;
}

.icon_box_container {
	margin-top: 87px;
}

.icon_box_image {
	display: inline-block;
	height: 62px;
}

.icon_box_image img {
	max-height: 100%;
}

.svg path,
.svg rect,
.svg polygon {
	fill: #afafaf;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.icon_box:hover .svg path,
.icon_box:hover .svg rect,
.icon_box:hover .svg polygon {
	fill: #fe3c52;
}

.icon_box svg {
	height: 62px;
	width: auto;
}

.icon_box_title {
	display: inline-block;
	vertical-align: bottom;
	font-size: 24px;
	font-weight: 300;
	color: #131a2f;
	padding-left: 22px;
}

.icon_box_text {
	margin-top: 14px;
}

.icon_box p:last-of-type {
	margin-bottom: 0;
}

.icon_box_more {
	display: inline-block;
	position: relative;
	font-size: 12px;
	font-weight: 400;
	color: #131a2f;
	margin-top: 35px;
	overflow: hidden;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.icon_box_more:hover {
	color: #fe3c52;
}

.icon_box_more::before {
	display: block;
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	content: '';
	background: #fe3c52;
	-webkit-transition: all 0.5s cubic-bezier(0.615, 0.19, 0.305, 0.91);
	-moz-transition: all 0.5s cubic-bezier(0.615, 0.19, 0.305, 0.91);
	-ms-transition: all 0.5s cubic-bezier(0.615, 0.19, 0.305, 0.91);
	-o-transition: all 0.5s cubic-bezier(0.615, 0.19, 0.305, 0.91);
	transition: all 0.5s cubic-bezier(0.615, 0.19, 0.305, 0.91);
}

.icon_box_more:hover::before {
	left: 100%;
}