.home {
    width: 100%;
}

.home_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.home_title {
    font-size: 48px;
    font-weight: 300;
    color: #FFFFFF;
}

.home_content {
    width: 100%;
    height: 601px;

    .home_content_inner {
        position: absolute;
        top: 46%;
        left: 0;
        width: 100%;
        text-align: left;
    }
}