@import '../vendor/bootstrap/scss/functions';
@import '../vendor/bootstrap/scss/mixins';
@import 'utilities/variables';
@import 'utilities/mixins';
@import 'components/staticHeader';
@import 'orders/orderEntry';

section.order-history {
    padding-top: 3rem;
    padding-bottom: 3rem;

    h2 {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
}