@import '../vendor/bootstrap/scss/functions';
@import '../vendor/bootstrap/scss/mixins';
@import 'utilities/variables';
@import 'utilities/mixins';
@import 'components/staticHeader';

section.customer-profile {
    padding-top: 3rem;
    padding-bottom: 3rem;

    h2 {
        text-align: center;
        margin-bottom: 2rem;
    }
}