.post-content {
    padding-top: 2rem;
    padding-bottom: 2rem;

    .tour-title {
        font-size: 2rem;
        margin-bottom: 0.5em;
    }

    .tour-price {
        color: $darkNavy;
        font-size: 1.2857rem;
        margin-bottom: 0;

        span {
            color: $lightCardinal;
            font-size: 1.5rem;
            font-weight: $fontWeightMedium;
            margin-left: 6px;
        }
    }
}