.tour-banner {
    div {
        outline: none;
    }

    .tour-banner-slider {
        margin-bottom: 0;

        .slick-prev,
        .slick-next {
            z-index: 2;
            width: auto;
            height: auto;

            &::before {
                color: $white;
                font-size: 2rem;

                opacity: 0.75;
            }

            &:hover,
            &:active {
                &::before {
                    opacity: 1;
                }
            }
        }

        .slick-prev {
            left: 20px;

            @include media-breakpoint-up(md) {
                left: 40px;
            }
        }

        .slick-next {
            right: 20px;

            @include media-breakpoint-up(md) {
                right: 40px;
            }
        }

        .slick-dots {
            bottom: 25px;

            button {
                &::before {
                    color: $white;
                    font-size: 0.5714rem;
                }
            }
        }

        .tour-banner-slide {
            position: relative;

            img {
                display: block;
                width: 100%;
                height: auto;

                @include media-breakpoint-up(xl) {
                    max-height: 36vw;
                }
            }

            .banner-text {
                text-align: center;
                margin-top: 1.5rem;

                p {
                    color: $darkNavy;
                }
            }
        }
    }
}